<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Indicavi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Indicavi.Projeto.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-1">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" ><img class="icon-logo" id="icon-logo" src="../../wwwroot/image/logoind.png"></a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <input type="checkbox" id="check">
                            <label for="check" id="icone"> 
                            <img class="icon-perfil" src="https://cdn-icons.flaticon.com/png/512/3502/premium/3502768.png?token=exp=1649739760~hmac=52cb82e42cb5ed3f6778cf79e14cc9fd" /> 
                            </label>
                            <div class="barra">	
	                        <nav class="aba">
		                        <a asp-area="" asp-controller="Home" asp-action="Login" ><div class="link">Login</div></a>
		                        <a href=""><div class="link">Cadastra-se</div></a>
		                        <a href=""><div class="link">Favoritos</div></a>
		                        <a href=""><div class="link">Contato</div></a>
		                        <a asp-area="" asp-controller="Home" asp-action="Privacy" ><div class="link">Configuração</div></a>
	                        </nav>	
                            </div>
                            <div>
                            


</div>
         
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>Contato</p>
        </div>
        <div class="container">
            &copy; 2022 - Indicavi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Sobre</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
