/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  background-color: #3972cc;
  padding: 0px 20px 0px 0px;
  white-space: nowrap;

}
.icon-logo{
  object-fit: contain;
  padding: auto;
}
.icon-perfil{
  object-fit: contain;
  width: auto;
  height: auto;
  padding: 0% 0% 0% 2%;
}

p {
  color: #000;
}

.btn-primary {
  color: #0a0d97;
  background-color: #000;
  border-color: #0728bb;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #000;
  background-color: #000;
  border-color: #041f4b;

}


.box-shadow {
  box-shadow: 0 .25rem .75rem #0a0d97;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
}
.footer-container p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
 
}
