
@{
    ViewData["Title"] = "Login";
}

<form>
  <div class="card" style="border-radius: 1rem;">
  <div>
    <img class="logo-log" src="../../assets/logoind.png" />
  </div>
  <div class="mb-3">
    <input type="email" class="form-control" id="caixa-login" placeholder="Login">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" id="caixa-login" placeholder="Senha">
  </div>
  <div class="mb-3 form-check" id="caixa-sal">
    <input type="checkbox" class="form-check-input" >
    <label class="form-check-label" for="senha-s">Salvar</label>
  </div>
  <button type="submit" class="btn btn-primary" id="caixa-entrar">Entrar</button>
  <a class="btn btn-secondary" asp-controller="Login" asp-action="Cadastro" role="button " id="caixa-cad">Cadastrar-se</a>
  <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button " id="caixa-vol">< </a>
  </div>
</form>