@{
    ViewData["Title"] = "Home Page";
}

<div class="pesquisa">
        <div>
                
                <input type="text"  class="caixa-text" placeholder="Digite aqui"  >
        </div>
        <br/> <br/>
        <div class="caixa" id="caixa">
        <div class="prest-0">
        <div id="prest0-i" >
                <p>
                        <input type="image" class="icon" src="https://cdn-icons-png.flaticon.com/512/1995/1995470.png" />
                </p>
        </div>
               <a class="as" id="as0" href="#"> Mecânico </a>
        </div>
        <div class="prest-1" >
        <div id="prest1-i" >
                <p>
                        <input type="image" class="icon" src="https://cdn-icons-png.flaticon.com/512/2767/2767719.png" />
                </p>
        </div>
                <a class="as" id="as1" href="#"> Advogada </a>
        </div>
        <div class="prest-2" >
        <div id="prest2-i" >
                <p>
                        <input type="image" class="icon" src=" https://cdn-icons-png.flaticon.com/512/2767/2767719.png" />
                </p>
        </div>
                <a class="as" id="as2" href="#"> Pintor </a>
        </div>
        <div class="prest-3" >
        <div id="prest3-i" >
                <p>
                        <input type="image" class="icon" src="https://cdn-icons-png.flaticon.com/512/4490/4490425.png" />
                </p>
        </div>
               <a class="as" id="as3" href="#"> Carpinteiro </a>
        </div>
        <div class="prest-4" >
        <div id="prest4-i" >
                <p>
                        <input type="image" class="icon" src="https://cdn-icons-png.flaticon.com/512/3456/3456714.png" />
                </p>
        </div>
               <a class="as" id="as4" href="#"> Corretor </a>
        </div>
        <div class="prest-5" >
        <div id="prest5-i" >
                <p>
                        <input type="image" class="icon" src="https://cdn-icons-png.flaticon.com/512/5389/5389242.png" />
                </p>
        </div>
               <a class="as" id="as5" href="#"> Manicure </a>
        </div>
        <div class="prest-6" >
        <div id="prest6-i" >
                <p>
                        <input type="image" class="icon" src="https://cdn-icons-png.flaticon.com/512/1748/1748797.png" />
                </p>
        </div>
               <a class="as" id="as6" href="#"> Confeiteira </a>
        </div>
        </div>
       
</div>
<div>
        <td>
                <br/>
                <p>asdmsdfsdfsdf</p> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum
                         exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                          consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore 
                          eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in 
                          culpa qui officia deserunt mollit anim id est laborum.</p>
                
        </td>
</div>
