@{
    ViewData["Title"] = "Home Page";
}

<div class="pesquisa" id="pesquisa">
                <div class="caixa-text">
                <section>
                   <input type="text" name="search" placeholder="Digite aqui">  
                </section>
                </div>
        <br/> <br/>
<div class="notificacao" id="notificacao">
        <div class="notificacao-i" id="notificacao-i">
        <section><p><img class="icon-not" src="https://cdn-icons-png.flaticon.com/512/633/633816.png" ></p></section>
</div>
        <section> Mecânico </section>
</div>
<div class="visibilidade" id="visibilidade">
        <div class="visibilidade-i" id="visibilidade-i">
        <section><p><img class="icon-not" src="https://cdn-icons-png.flaticon.com/512/1850/1850929.png"></p></section>
</div>
        <section> Funileiro </section>
</div>
<div class="mais-clientes" id="mais-clientes">
        <div class="mais-clientes-i" id="mais-clientes-i">
        <section><p><img class="icon-not" src="https://cdn-icons-png.flaticon.com/512/3126/3126647.png"></p></section>
</div>
        <section> Pintor </section>
</div>
<div class="feedback" id="feedback">
        <div class="feedback-i" id="feedback-i">
        <section><p><img class="icon-not" src="https://cdn-icons-png.flaticon.com/512/1379/1379403.png"></p></section>
</div>
        <section> Costureira </section>
</div>
        
</div>
<br/>
