@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="banner" id="banner" src=https://robsoncamargo.com.br/files/thumbs/blog_0328-metodologia-agil-1-800x333.png?v=1639596165>
</div>
<div class="text-h3">
        <h3>
                Aqui você encontra, rápido e fácil
        </h3>
</div>
<div class="text-caixa">
    <form method="post" action="encontrar-prestador.php">
        <select name="prestadores">
        <option value="Selecione">Encontre um Prestador de Serviço</option>
        <option value="Mecanico">Mecânico</option>
        <option value="Mecanico">Mecânico</option>
        <option value="Mecanico">Mecânico</option>
        <option value="Mecanico">Mecânico</option>
</select>
</form>
</div>
<br/>
<div class="empresa" id="empresa">
        <section><h3>Sobre</h3></section>
        <section>A Indicavi sirgiu para ajudar o prestador de serviço e o cliente, pensando na facilidade e sempre 
        visando o melhor. A ideia é trazer visibilidade ao prestador de serviço e ajudar o contratante a encontrar 
         uma pessoa qaulificada para o solucionar o problema que precisar.</section>
</div>
<br/>
<div class="missao" id="missao">
        <section class="titulo-missao" id="titulo-missao"><h3>Missão</h3></section>
        <section> A Indicavi tem como missão priorizar o cliente <br/> <br/> </section>
</div>
<div class="visao" id="visao">
        <section><h3>Visão</h3></section>
        <section> Sempre buscando o melhor para os prestadores de serviços e os clientes. 
                  Fazendo a comunicação entre ambos </section>
</div>
<div class="valores" id="valores">
        <section><h3>Valores</h3></section>
        <section> Qualidade, Eficiência, Comunicação e Prestatividade <br/><br/></section>
        
</div>
<br/><br/>
<div class="presta-servico" id="presta-servico">
        <section><p>Prestadores de Serviço</p></section>
</div>
<br/>
<div class="notificacao" id="notificacao">
        <div class="notificacao-i" id="notificacao-i">
        <section><p><img class="icon-not" src="https://cdn-icons-png.flaticon.com/512/633/633816.png" ></p></section>
</div>
        <section> A Indicavi tem como missão priorizar o cliente </section>
</div>
<div class="visibilidade" id="visibilidade">
        <div class="visibilidade-i" id="visibilidade-i">
        <section><p><img class="icon-not" src="https://cdn-icons-png.flaticon.com/512/1850/1850929.png"></p></section>
</div>
        <section> A Indicavi tem como missão priorizar o cliente </section>
</div>
<div class="mais-clientes" id="mais-clientes">
        <div class="mais-clientes-i" id="mais-clientes-i">
        <section><p><img class="icon-not" src="https://cdn-icons-png.flaticon.com/512/3126/3126647.png"></p></section>
</div>
        <section> A Indicavi tem como missão priorizar o cliente </section>
</div>
<div class="feedback" id="feedback">
        <div class="feedback-i" id="feedback-i">
        <section><p><img class="icon-not" src="https://cdn-icons-png.flaticon.com/512/1379/1379403.png"></p></section>
</div>
        <section> A Indicavi tem como missão priorizar o cliente </section>
</div>
<br/><br/>
<div class="presta-servico" id="presta-servico">
        <section><p>Clientes</p></section>
</div>
<br/>
<div class="notificacao" id="notificacao">
        <div class="notificacao-i" id="notificacao-i">
        <section><p><img class="icon-not" src="https://cdn-icons-png.flaticon.com/512/633/633816.png" ></p></section>
</div>
        <section> A Indicavi tem como missão priorizar o cliente </section>
</div>
<div class="visibilidade" id="visibilidade">
        <div class="visibilidade-i" id="visibilidade-i">
        <section><p><img class="icon-not" src="https://cdn-icons-png.flaticon.com/512/1850/1850929.png"></p></section>
</div>
        <section> A Indicavi tem como missão priorizar o cliente </section>
</div>
<div class="mais-clientes" id="mais-clientes">
        <div class="mais-clientes-i" id="mais-clientes-i">
        <section><p><img class="icon-not" src="https://cdn-icons-png.flaticon.com/512/3126/3126647.png"></p></section>
</div>
        <section> A Indicavi tem como missão priorizar o cliente </section>
</div>
<div class="feedback" id="feedback">
        <div class="feedback-i" id="feedback-i">
        <section><p><img class="icon-not" src="https://cdn-icons-png.flaticon.com/512/1379/1379403.png"></p></section>
</div>
        <section> A Indicavi tem como missão priorizar o cliente </section>
</div>

