@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="banner" id="banner" src="https://thumbs.dreamstime.com/b/tempo-mais-ideia-%C3%A9-feliz-com-as-pessoas-trabalhando-juntas-laptop-e-notebook-172038069.jpg">
   
</div>
<br/>
<div class="empresa" id="empresa">
        <section><h3>Sobre</h3></section>
        <section>A Indicavi sirgiu para ajudar o prestador de serviço e o cliente, pensando na facilidade e sempre 
        visando o melhor. A ideia é trazer visibilidade ao prestador de serviço e ajudar o contratante a encontrar 
         uma pessoa qaulificada para o solucionar o problema que precisar.</section>
</div>
<br/>
<div class="missao" id="missao">
        <section><h3>Missão</h3></section>
        <section> A Indicavi tem como missão priorizar o cliente </section>
</div>
<div class="visao" id="visao">
        <section><h3>Missão</h3></section>
        <section> A Indicavi tem como missão priorizar o cliente </section>
</div>
<div class="valores" id="valores">
        <section><h3>Missão</h3></section>
        <section> A Indicavi tem como missão priorizar o cliente </section>
</div>
<br/><br/>
<div class="empresa" id="empresa">
        <section><h3>Sobre</h3></section>
        <section>A Indicavi sirgiu para ajudar o prestador de serviço e o cliente, pensando na facilidade e sempre 
        visando o melhor. A ideia é trazer visibilidade ao prestador de serviço e ajudar o contratante a encontrar 
         uma pessoa qaulificada para o solucionar o problema que precisar.</section>
</div>
