html {
  font-size: 14px;
}

@media (min-width: 780px) {
  html {
    font-size: 18px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: linear-gradient(0deg, rgba(36,212,96,1) 0%, rgba(57,114,204,1) 74%);
}

.banner{
  position: relative ;
  width: 60%;
  height: 100%;
  border-radius: 10px;
}
.empresa {
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5354341565727854) 0%);
  border-radius: 10px;
  align-items: center;
  padding: 10px 10px 10px 45px;

}
.missao{
  height: 33%;
  width: 33%;
  display: inline-block;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5334341565727854) 0%);
  border-radius: 10px;
  padding: 10px 10px 10px 45px;

}
.visao{
  display: inline-block;
  height: 33%;
  width: 33%;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5334341565727854) 0%);
  border-radius: 10px;
  padding: 10px 10px 10px 45px;

}
.valores{
  height: 33%;
  width: 33%;
  display: inline-block;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5354341565727854) 0%);
  border-radius: 10px;
  padding: 10px 10px 10px 45px;

}