* {
  margin: 0;
  padding: 0;
} 
html {
  font-size: 15px;
}

@media (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  
  margin-bottom: 60px;
  background: linear-gradient(0deg, rgba(36, 212, 95, 0.74) 0%, rgba(57, 113, 204, 0.808) 74% );
  
}

.banner{
  position: relative ;
  border-radius: 10px;
  width: 120%;
  object-fit: initial;
  height: 100%;
  left: -113px;
}
.text-caixa {
  position: absolute;
  font-size: 18px;
  left: 720px;
  top: 112px;
}
.text-h3 {
  position: absolute;
  font-size: 18px;
  left: 210px;
  top: 105px;
}

.presta-servico{
  text-align: center;
  height: 33%;
  width: 33%;
  display: flex;
  margin-left: 33.5%;
  justify-content: center;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5354341565727854) 0%);
  border-radius: 10px;
  padding: 10px 0px 0px 10px;
}
.empresa {
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5354341565727854) 0%);
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px 10px 15px;

}
.missao{
  text-align: center;
  height: 33%;
  width: 33%;
  display: inline-block;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5334341565727854) 0%);
  border-radius: 10px;
  padding: 10px 15px 80px 15px;

}

.visao{
  text-align: center;
  display: inline-block;
  height: 33%;
  width: 33%;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, #75F564 0%);
  border-radius: 10px;
  padding: 10px 15px 80px 15px;

}
.valores{
  text-align: center;
  height: 33%;
  width: 33%;
  display: inline-block;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, #3972cc 0%);
  border-radius: 10px;
  padding: 10px 15px 80px 15px;

}
.notificacao{
  text-align: center;
  height: 24.6%;
  width: 24.6%;
  display: inline-block;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5354341565727854) 0%);
  border-radius: 10px;
  padding: 10px 10px 10px 15px;

}
.notificacao-i{
  text-align: center;
  height: 33%;
  width: 33%;
  display: inline-block;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5354341565727854) 0%);
  border-radius: 100%;
  padding: 10px 10px 10px 15px;
 }
 .icon-not{
  max-width: 1080px;   /* Máximo da largura da imagem */
  width: 100%;
  max-height: 500px;  /* Máximo da altura da imagem */
  min-height: auto;      /* Mínimo da altura, por padrão “auto” */
  padding: 10px 18px 0px 15px;
 }

.visibilidade{
  text-align: center;
  height: 24.6%;
  width: 24.6%;
  display: inline-block;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5354341565727854) 0%);
  border-radius: 10px;
  padding: 10px 10px 10px 15px;

}
.visibilidade-i{
  text-align: center;
  height: 33%;
  width: 33%;
  display: inline-block;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5354341565727854) 0%);
  border-radius: 100px;
  padding: 10px 10px 10px 15px;

}
.mais-clientes{
  text-align: center;
  height: 24.6%;
  width: 24.6%;
  display: inline-block;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5354341565727854) 0%);
  border-radius: 10px;
  padding: 10px 10px 10px 15px;

}
.mais-clientes-i{
  text-align: center;
  height: 33%;
  width: 33%;
  display: inline-block;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5354341565727854) 0%);
  border-radius: 100px;
  padding: 10px 10px 10px 15px;

}
.feedback{
  text-align: center;
  height: 24.6%;
  width: 24.6%;
  display: inline-block;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5354341565727854) 0%);
  border-radius: 10px;
  padding: 10px 10px 10px 15px;

}
.feedback-i{
  text-align: center;
  height: 33%;
  width: 33%;
  display: inline-block;
  background: linear-gradient(75deg, rgba(246,250,249,1) 0%, rgba(246,250,249,0.5354341565727854) 0%);
  border-radius: 100px;
  padding: 10px 10px 10px 15px;

}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #24D460 #3972cc ;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #3972cc ;
}

*::-webkit-scrollbar-thumb {
  background-color: #24D460;
  border-radius: 20px;
  border: 3px solid #3972cc;
}